<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/css/terminal.css">
    <script>
        window.barokaPath = `[[${barokaPath}]]`;
        window.username = `[[${username}]]`; // 타임리프를 통해 서버에서 사용자 이름을 전달받음
        window.sessionId = `[[${sessionId}]]`; // 타임리프를 통해 서버에서 세션 ID를 전달받음
    </script>
    <script src="/js/terminal.js"></script>
</head>
<body>
<div id="container">
    <div id="output">
        <!-- 명령어와 결과가 위에서부터 쌓입니다. -->
    </div>
    <div id="input-drag-handle"></div>
    <div id="input-container">
        <span id="prompt"></span>
        <textarea id="command" placeholder="Enter command" rows="1"></textarea>
    </div>
</div>
<div id="drag-handle"></div>
<div id="sidebar">
    <div id="file-list" th:fragment="file-list">
        <div class="file-item" th:each="barokaFile, iterStat : ${barokaFiles}">
            <div class="file-icon"
                 th:barokaFile="${barokaFile}"
                 th:style="'background-color:' + ${colors[iterStat.index]}"
                 th:text="${#strings.substring(barokaFile, 0, 1)}"
                 onclick="runScript(this, this.getAttribute('barokaFile'))"></div>
            <div class="file-name" th:text="${barokaFile}" onclick="openEditor('baroka', this)"></div>
            <button th:barokaFile="${barokaFile}"
                    class="styled-delete-btn"
                    onclick="confirmDelete(this.getAttribute('barokaFile'))">X</button>
        </div>
        <div class="file-item">
            <button class="btn btn-primary btn-jittery" onclick="openEditor('baroka')">Add Script</button>
        </div>
    </div>
</div>

<!-- 모달 창 -->
<div id="editModal" class="modal">
    <div class="modal-content">
        <input class="modal-title" id="modalTitle" value="Untitled">
        <textarea id="modalEditor" class="modal-editor" rows="20"></textarea>
        <div class="modal-buttons">
            <button onclick="quit()">나가기</button>
            <button onclick="saveAndQuit()">저장 후 나가기</button>
        </div>
    </div>
</div>
</body>
</html>
